{% extends "main.html" %}
{% block content %}
<div class="row">
    <div class="col" style="text-align: center;">
        <h1>Restaurants</h1>
    </div>
</div>

{% if restaurants %}
{% for restaurant in restaurants %}
<div class="row py-1">
    <div class="col">
        <h4>
            <a style="color: black;"
                href="{{url_for('showRestaurantMenu', restaurant_Id=restaurant.id)}}">{{restaurant.name}}</a>
        </h4>
    </div>
</div>

{% endfor %}
{% else %}
<h3>You currently have no restaurants.</h3>
{% endif %}
{% endblock %}